# Serie de Odoo que monta el servicio `web` (carpeta en addons/)
ODOO_SERIES=17.0
ODOO_IMAGE=odoo:17.0

# Odoo container
ODOO_WEB_PORT=8069
ODOO_WEB_PORT_18=8169
ODOO_WEB_PORT_19=8269

# Odoo Postgres container
ODOO_DB_PORT=5432
ODOO_DB_NAME=postgres
ODOO_DB_USER=odoo
ODOO_DB_PASSWORD=odoo
